<html lang="en">
<head>
  <%- include('partials/head.ejs')%> 
</head>
<body>
    <div class="container mt-3">
        <h2>ToDo</h2>
        <a href="/new"><button class="btn btn-primary mb-3">Добавить задачу</button></a>
        <ol class="list-group list-group-numbered">
          <%
            data.forEach(item=>{
          %>   
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><%=item.title%></div>
              <%=item.description%>
            </div>
            <div>
              <a href="/edit/<%=item._id%>"><button class="btn btn-warning">Редактировать</button></a>
              <button class="btn btn-danger" onclick="deleteItem('<%=item._id%>')">Удалить</button>
            </div>
          </li>
          <% 
            })
          %>
          </ol>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js" integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/delete.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>